/*Bu Tasarım Emrah Kahraman tarafından kodlanmıstır.*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "_variable.scss";
@import "_mixins.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $three-color;
  width: 100%;
  min-height: 100vh;
  font-size: $size;
  font-family: $family;
  color: $base-color;
}

//Header#
#header {
  width: 100%;
  padding-top: 30px;
  //header-wrapper
  .header-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    //logo
    .logo {
      position: relative;
      z-index: 1;
      img {
        cursor: pointer;
        @include transition(0.3s);
        &:hover {
          @include scale(1.1);
        }
      }
    }
    //menu
    .menu {
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $base-color;
          font-weight: 400;
          @include transition(0.4s);
          padding: 62px 15px 32px 15px;
          font-size: $size;
          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
//Menu
.slicknav_menu {
  display: none;
  width: 100%;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
  background-color: transparent;
  //slicknav_btn
  .slicknav_btn {
    background-color: transparent;
    .slicknav_menutxt {
      display: none
    }
    //slicknav_icon
    .slicknav_icon {
      position: relative;
      @include rotate(0);
      @include transition(0.5s);
      cursor: pointer;
      .slicknav_icon-bar {
        display: block;
        height: 4px;
        width: 30px;
        margin: 6px 0;
        background: $base-color;
        border-radius: 0;
        opacity: 1;
        @include rotate(0);
        @include transition(0.25s);
        &:nth-child(1) {
          top: 0px;
          @include transform-origin(left center);
        }
        &:nth-child(2) {
          top: 16px;
          @include transform-origin(left center);
        }
        &:nth-child(3) {
          top: 33px;
          @include transform-origin(left center);
        }
      }
    }
  }
  //slicknav_open
  .slicknav_open {
    .slicknav_icon-bar {
      &:nth-child(1) {
        @include rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        @include rotate(-45deg);
        top: 39px;
        left: 8px;
      }
    }
  }
  //slicknav_nav
  .slicknav_nav {
    width: 100%;
    margin-top: 72px;
    background-color: #333;
    li {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      a {
        text-align: center;
        font-size: $size;
        font-weight: 400;
        &:hover {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }
}
@media #{$notebook} {
  .menu {
    display:none;
  }
  .slicknav_menu {
    display:block;
  }
}
//Menu

//Banner#
#banner {
  width: 100%;
  position: relative;
  //banner-wrapper
  .banner-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    //banner-text
    .banner-text {
      width: 35%;
      position: relative;
      z-index: 1;
      h5 {
        display: inline-block;
        background-color: $primary-color;
        font-size: 20px;
        font-weight: 400;
        padding: 15px 20px;
        position: relative;
        &::before {
          display: block;
          z-index: 99;
          content: '';
          position: absolute;
          left: 39%;
          top: 106%;
          margin-top: -3px;
          border-right: 16px solid transparent;
          border-bottom: 10px solid transparent;
          border-top: 16px solid $primary-color;
          border-left: 16px solid transparent;
        }
      }
      h6 {
        padding-top: 40px;
        font-weight: bold;
        font-size: 40px;
      }
      p {
        padding-top: 30px;
        font-size: 15px;
      }
      button {
        margin-top: 35px;
        background-color: transparent;
        border: 1px solid $base-color;
        font-size: 16px;
        color: $base-color;
        margin-right: 10px;
        padding: 15px 30px;
        @include border-radius(10px);
        @include transition(0.4s);
        &:hover {
          background-color: $primary-color;
          cursor: pointer;
          border: 1px solid $primary-color;
        }
      }
    }
    //banner-img
    .banner-img {
      width: 65%;
      img {width: 100%}
    }
    //Notebook
    @media #{$notebook} {
      @include flex();
      @include flex-direction(column);
      //banner-text
      .banner-text {
        padding-top: 15px;
        width: 100%;
      }
      //banner-img
      .banner-img {
        padding-top: 30px;
        width: 100%;
      }
    }
    //Tablet
    @media #{$tablet} {
      //banner-text
      .banner-text {
        padding-top: 15px;
        width: 100%;
        h5 {
          font-size: 15px;
          padding: 10px 20px;
        }
        h6 {
          font-size: 25px;
          padding-top: 25px;
        }
        p {
          padding-top: 20px;
          font-size: 15px;
        }
        button {
          margin-top: 25px;
          margin-right: 0;
          width: 100%;
          font-size: 13px;
          padding: 10px 20px;
        }
      }
    }
  }
  .scroll-down {
    position: absolute;
    top: 90%;
    left: 50%;
    @include translate(-50%, -50%);
    width: 40px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid $primary-color;
    @include border-radius(60px); 
    i {color: $primary-color}
  }
}

//About-Me#
#about-me {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  //about-wrapper
  .about-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    //about-img
    .about-img {
      width: 49%;
      position: relative;
      .overlay {
        position: absolute;
        bottom: -55px;
      }
    }
    //about-text
    .about-text {
      width: 49%;
      h6 {
        font-weight: bold;
        font-size: 40px;
      }
      p {
        padding-top: 30px;
        font-size: 18px;
        letter-spacing: 0.6px;
        font-weight: 300;
        line-height: 25px;
      }
      //progress
      .progress {
        padding-top: 15px;
        .skill {
          position: relative;
          overflow-x: hidden;
          > p {
            font-size: 18px;
            font-weight: 300;
            color: $base-color;
            margin: 0;
          }
          &:before {
            width: 100%;
            height: 3px;
            content: "";
            display: block;
            position: absolute;
            background: #959595;
            bottom: 0;
          }
        }
        .skill-bar {
          width: 100%;
          height: 5px;
          background: #f4392f;
          display: block;
          position: relative;
        }
        /* SKILL 1 */
        .skill1 {
          width: 95%;
        }
        .skill-bar {
          span {
            position: absolute;
            border-top: 5px solid #f4392f;
            top: -30px;
            padding: 0;
            font-size: 18px;
            padding: 3px 0;
            font-weight: 500;
          }
        }
        .skill1 .skill-count1 {
          right: 0;
        }
        /* SKILL 2 */
        .skill2 {
          width: 85%;
          .skill-count2 {
            right: 0;
          }
        }
        /* SKILL 3 */
        .skill3 {
          width: 75%;
        
          .skill-count3 {
            right: 0;
          }
        }
        /* SKILL 4 */
        .skill4 {
          width: 65%;
        
          .skill-count4 {
            right: 0;
          }
        } 
        /* SKILL 5 */
        .skill5 {
          width: 80%;
          .skill-count5 {
            right: 0;
          }
        }
        /* SKILL 6 */
        .skill6 {
          width: 90%;      
          .skill-count6 {
            right: 0;
          }
        }
      }
      button {
        margin-top: 50px;
        background-color: transparent;
        border: 1px solid $base-color;
        font-size: 16px;
        color: $base-color;
        margin-right: 10px;
        padding: 18px 50px;
        @include border-radius(10px);
        @include transition(0.4s);
        &:hover {
          background-color: $primary-color;
          cursor: pointer;
          border: 1px solid $primary-color;
        }
      }
    }
    //Notebook
    @media #{$notebook} {
      //about-img
      .about-img {
        width: 100%;
        .overlay {display: none;}
      }
      //about-text
      .about-text {
        margin-top: 30px;
        width: 100%;
        h6 {
          font-size: 25px;
        }
        p {
          padding-top: 20px;
          font-size: $size;
        }
        .progress {
          padding-top: 10px;
        }
        button {
          margin-top: 40px;
        }
      }
    }
    //Tablet
    @media #{$tablet} {
      .about-text {
        h6 {
          font-size: 18px;
        }
        p {
          padding-top: 20px;
          font-size: 14px;
          line-height: 20px;
        }
        .progress {
          margin-bottom: 10px;
          .skill {
            margin-bottom: 10px;
            p {font-size: 13px;}
          }
          .skill-bar {
            span {font-size: 14px;}
          }
        }
        button {
          margin-right: 0;
          margin-top: 15px;
          width: 100%;
          font-size: 13px;
          padding: 10px 20px;
        }
      }
    }
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//Services#
#services {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  //title
  .title {
    h6 {
      font-size: 35px;
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 2px;
        height: 95px;
        margin: 0 auto;
        background-image: url(../img/before.png);
        @include bg-size(cover);
      }
    }
    p {
      padding-top: 20px;
      font-size: $size;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }
    //Notebook
    @media #{$notebook} {
      h6 {
        font-size: 30px;
        &::before {
          bottom: 35px;
          width: 95px;
          height: 2px;
        }
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      h6 {
        font-size: 20px;
        &::before {
          bottom: 25px;
        }
      }
      p {
        padding-top: 15px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  //services-wrapper
  .services-wrapper {
    padding-top: 30px;
    @include flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    //services-box
    .services-box {
      width: 32%;
      margin-top: 30px;
      background-color: $secondary-color;
      @include flex();
      @include justify-content(space-between);
      @include align-items(center);
      padding: 20px 10px;
      @include transition(0.4s);
      .icon {
        i {
          width: 50px;
          height: 50px;
          line-height: 50px;
          margin: 0 auto;
          text-align: center;
          color: $base-color;
          @include border-radius(50%);
          background-color: $three-color;
        }
        span {
          padding-left: 20px;
          font-size: 18px;
          font-weight: 300;
        }
      }
      i {color: $primary-color}
      &:hover {
        background-color: $primary-color;
        cursor: pointer;
        .icon {
          i {
            background-color: $base-color;
            color: $three-color;
          }
        }
        i {color: $base-color}
      }
    }
    //Notebook
    @media #{$notebook} {
      .services-box {
        width: 49%;
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      .services-box {
        width: 100%;
        @include flex();
        @include flex-direction(column);
        @include align-items(center);
        text-align: center;
        padding: 10px 5px;
        .icon {
          i {
            width: 50px;
            height: 50px;
            line-height: 22px;
            margin: 0 auto;
            text-align: center;
            color: $base-color;
            @include border-radius(50%);
            background-color: $three-color;
          }
          span {
            display: block;
            padding-left: 0;
            padding-top: 10px;
            font-size: 14px;
          }
        }
        i {padding-top: 15px;}
      }
    }
  }
  button {
    margin-top: 50px;
    background-color: $primary-color;
    color: $base-color;
    font-size: $size;
    font-weight: 300;
    @include border-radius(10px);
    padding: 15px 30px;
    cursor: pointer;
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//Projects-Counter#
#projects-counter {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../img/projects-counter-bg.png);
  @include bg-size(cover);
  //counter-wrapper
  .counter-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    .counter-box {
      width: 23%;
      background-color: $secondary-color;
      border: 1px dashed $six-color;
      text-align: center;
      padding: 70px 0 70px 0;
      @include transition(0.4s);
      @include border-radius(10px);
      .count {
        font-weight: bold;
        font-size: 35px;
      }
      h6 {
        padding-top: 10px;
        font-size: 20px;
      }
      &:hover {
        background-color: $primary-color;
        border: 1px dashed $primary-color;
        cursor: pointer;
      }
    }
    //Notebook
    @media #{$notebook} {
      .counter-box {
        width: 32%;
        margin-bottom: 30px;
      }
    }
    //Tablet
    @media #{$tablet} {
      .counter-box {
        width: 49%;
      }
    }
    //Tablet
    @media #{$tablet} {
      .counter-box {
          width: 100%;
          padding: 50px 0 50px 0;
          .count {font-size: 25px;}
          h6 {font-size: $size;}
      }
    }
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

//Projects#
#projects {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  //title
  .title {
    h6 {
      font-size: 35px;
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 2px;
        height: 95px;
        margin: 0 auto;
        background-image: url(../img/before.png);
        @include bg-size(cover);
      }
    }
    p {
      padding-top: 20px;
      font-size: $size;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }
    //Notebook
    @media #{$notebook} {
      h6 {
        font-size: 30px;
        &::before {
          bottom: 35px;
          width: 95px;
          height: 2px;
        }
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      h6 {
        font-size: 20px;
        &::before {
          bottom: 25px;
        }
      }
      p {
        padding-top: 15px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  //projects-tab
  .projects-tab {
    padding-top: 50px;
    //tab-list
    .tab-list {
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $base-color;
          font-size: $size;
          &:hover, &:focus {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
          }
          &.active {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
          }
        }
      }
      //X-Tablet
      @media #{$x-tablet} {
        li {
          margin-right: 0;
          display: block;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    //tab-content
    .tab-content {
      padding-top: 30px;
      @include flex();
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      //tab-box
      .tab-box {
        width: 32%;
        margin-top: 30px;
        position: relative;
        overflow: hidden;
        img {width: 100%}
        .overlay {
          position: absolute;
          top: 0; left: 0; right: 0; bottom: 0;
          color: $base-color;
          background-color: rgba(255, 73, 0, 0.9);
          @include transition(0.3s);
          cursor: pointer;
          padding: 110px 30px 0 30px;
          text-align: center;
          h5 {
            font-size: 18px;
            font-weight: bold;
          }
          h6 {
            padding-top: 20px;
            text-transform: uppercase;
            font-size: 14px;
          }
          p {
            padding-top: 40px;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: 0.6px;
          }
          i {
            padding-top: 10px;
          }
        } 
        &:hover .overlay {
          top: 0;
        }
        .overlay {
          top: 100%;
        }
      }
       //Notebook
       @media #{$notebook} {
         padding-top: 10px;
        .tab-box {
          .overlay {
            padding: 50px 15px 0 15px;
            h5 {font-size: 14px;font-weight: bold;}
            h6 {padding-top: 15px; text-transform: uppercase; font-size: 14px;}
            p {padding-top: 15px; font-size: 12px; line-height: normal; letter-spacing: normal;}
          }
        }
      }
      //Tablet
      @media #{$tablet} {
        .tab-box {
          width: 49%;
          .overlay {
            padding: 70px 15px 0 15px;
          }
        }
      }
      //X-Tablet
      @media #{$x-tablet} {
        .tab-box {
          width: 100%;
          .overlay {
           padding: 200px 15px 0 15px;
            h5 {font-size: 18px;font-weight: bold;}
            h6 {padding-top: 20px; text-transform: uppercase; font-size: 14px;} 
            p {padding-top: 40px; font-size: 14px; line-height: 25px; letter-spacing: 0.6px;}
          }
        }
      }
      //Mobil
      @media #{$mobil} {
        .tab-box {
          .overlay {
           padding: 160px 15px 0 15px;
            h5 {font-size: 14px;font-weight: bold;}
            h6 {padding-top: 15px; text-transform: uppercase; font-size: 14px;}
            p {padding-top: 15px; font-size: 12px; line-height: normal; letter-spacing: normal;}
          }
        }
      }
      //Small
      @media #{$small} {
        .tab-box {
          .overlay {
            padding: 90px 15px 0 15px;
            h5 {font-size: 12px;font-weight: bold;}
            h6 {padding-top: 10px; text-transform: uppercase; font-size: 12px;}
            p {padding-top: 10px; font-size: 10px; line-height: normal; letter-spacing: normal;}
            i {padding-top: 5px;}
          }
        }
      }
      //X-Small
      @media #{$x-small} {
        .tab-box {
          .overlay {
            padding: 20px 15px 0 15px;
            h5 {font-size: 12px;font-weight: bold;}
            h6 {padding-top: 5px; text-transform: uppercase; font-size: 12px;}
            p {padding-top: 5px; font-size: 10px; line-height: normal; letter-spacing: normal;}
            i {padding-top: 0;}
          }
        }
      }
      //X
      @media #{$x} {
        .tab-box {
          .overlay {display: none;}
        }
      }
    }
  }
  button {
    margin-top: 50px;
    background-color: $primary-color;
    color: $base-color;
    font-size: $size;
    font-weight: 300;
    @include border-radius(10px);
    padding: 15px 30px;
    cursor: pointer;
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//Testimonials#
#testimonials {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  //title
  .title {
    h6 {
      font-size: 35px;
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 2px;
        height: 95px;
        margin: 0 auto;
        background-image: url(../img/before.png);
        @include bg-size(cover);
      }
    }
    p {
      padding-top: 20px;
      font-size: $size;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }
    //Notebook
    @media #{$notebook} {
      h6 {
        font-size: 30px;
        &::before {
          bottom: 35px;
          width: 95px;
          height: 2px;
        }
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      h6 {
        font-size: 20px;
        &::before {
          bottom: 25px;
        }
      }
      p {
        padding-top: 15px;
        font-size: 14px;
        line-height: 20px;
      }
    }
    //X
    @media #{$x} {
      h6 {font-size: $size;}
    }
  }
  //clients-owl
  .clients-owl {
    padding-top: 80px;
    //item
    .item {
      background-color: $secondary-color;
      padding: 60px 30px 60px 30px;
      position: relative;
      img {width: 15%; margin: 0 auto;}
      h4 {
        padding-top: 30px;
        color: $primary-color;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.6px;
      }
      h5 {
        padding-top: 10px;
        font-size: $size;
        color: $base-color;
      }
      p {
        padding-top: 30px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 1px;
      }
      //Mobil
      @media #{$mobil} {
        padding: 40px 20px 40px 20px;
        img {width: 50%}
        h4 {padding-top: 20px; font-size: $size;}
        h5 {font-size: 14px;}
        p {padding-top: 15px; font-size: 14px; line-height: 20px; letter-spacing: normal;}
      }
    }
    //owl-dots
    .owl-dots {
      margin-top: 50px;
      .owl-dot {
        span {
          width: 60px;
          height: 15px;
          background-color: $four-color;
          @include border-radius(15px);
        }
      }
      .active {
        span {
          width: 60px;
          height: 15px;
          background-color: $primary-color;
          @include border-radius(15px);
        }
      }
      //Mobil
      @media #{$mobil} {
        margin-top: 25px;
        .owl-dot {
          span {width: 40px; height: 10px;}
        }
        .active {
          span {width: 40px; height: 10px;}
        }
      }
    }
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//Hire-Me#
#hire-me {
  width: 100%;
  height: 615px;
  background-image: url(../img/hire-me-bg.png);
  @include bg-size(cover);
  position: relative;
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    text-align: center;
    h5 {
      font-size: 20px;
      font-weight: 200;
    }
    h6 {
      padding-top: 30px;
      font-size: 30px;
      font-weight: bold;
    }
    button {
      margin-top: 50px;
      background-color: $primary-color;
      @include border-radius(10px);
      cursor: pointer;
      font-size: $size;
      color: $base-color;
      padding: 20px 50px;
    }
    //Tablet
    @media #{$tablet} {
      h5 {font-size: 18px;}
      h6 {padding-top: 15px; font-size: 20px;}
      button {margin-top: 25px; padding: 15px 35px;}
    }
    //Small
    @media #{$small} {
      h5 {font-size: 14px;}
      h6 {padding-top: 10px; font-size: $size;}
      button {margin-top: 15px; padding: 10px 20px; font-size: 12px;}
    }
  }
}

//Blog#
#blog {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  //title
  .title {
    h6 {
      font-size: 35px;
      font-weight: bold;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        width: 2px;
        height: 95px;
        margin: 0 auto;
        background-image: url(../img/before.png);
        @include bg-size(cover);
      }
    }
    p {
      padding-top: 20px;
      font-size: $size;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: 0.6px;
    }
    //Notebook
    @media #{$notebook} {
      h6 {
        font-size: 30px;
        &::before {
          bottom: 35px;
          width: 95px;
          height: 2px;
        }
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      h6 {
        font-size: 20px;
        &::before {
          bottom: 25px;
        }
      }
      p {
        padding-top: 15px;
        font-size: 14px;
        line-height: 20px;
      }
    }
    //X
    @media #{$x} {
      h6 {font-size: $size;}
    }
  }
  //blog-wrapper
  .blog-wrapper {
    padding-top: 60px;
    @include flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    //blog-box
    .blog-box {
      width: 32.3%;
      img {width: 100%}
      .blog-desc {
        margin-top: -3px;
        background-color: $secondary-color;
        text-align: left;
        @include border-radius(0 0 5px 5px);
        padding: 30px;
        h4 {
          font-size: $size;
          font-weight: 300;
        }
        h5 {
          padding-top: 20px;
          a {
            font-size: 20px;
            color: $base-color;
            font-weight: 300;
            @include transition(0.4s);
            &:hover {
              color: $primary-color;
              cursor: pointer;
            }
          }
        }
        .read {
          padding-top: 35px;
          font-size: $size;
          @include transition(0.4s);
          i {padding: 0 0 0 10px;}
          &:hover {
            color: $primary-color;
            cursor: pointer;
          }
        }
      }
    }
    //Notebook
    @media #{$notebook} {
      padding-top: 40px;
      .blog-box {
        .blog-desc {
          padding: 15px;
          h4 {font-size: 14px;}
          h5 {
            a {font-size: $size;}
          }
          .read {padding-top: 20px; font-size: 14px;}
        }
      }
    }
    //Tablet
    @media #{$tablet} {
      .blog-box {
        width: 49%;
        margin-bottom: 30px;
        .blog-desc {
          padding: 15px;
          h4 {font-size: 14px;}
          h5 {
            a {font-size: $size;}
          }
          .read {padding-top: 20px; font-size: 14px;}
        }
      }
    }
    //X-Tablet
    @media #{$x-tablet} {
      .blog-box {
        width: 100%;
        .blog-desc {
          text-align: center;
          padding: 15px;
          h4 {font-size: 14px;}
          h5 {
            padding-top: 10px;
            a {font-size: 14px;}
          }
          .read {padding-top: 10px; font-size: 14px;}
        }
      }
    }
    //Small
    @media #{$small} {
      .blog-box {
        .blog-desc {
          padding: 10px;
          h4 {font-size: 12px;}
          h5 {
            padding-top: 10px;
            a {font-size: 12px;}
          }
          .read {padding-top: 10px; font-size: 12px;}
        }
      }
    }
  }
  button {
    margin-top: 50px;
    background-color: $primary-color;
    color: $base-color;
    font-size: $size;
    font-weight: 300;
    @include border-radius(10px);
    padding: 15px 30px;
    cursor: pointer;
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
    button{margin-top: 25px;}
  }
}

//Contact#
#contact {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: $seven-color;
  //contact-wrapper
  .contact-wrapper {
    @include flex();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    //contact-info
    .contact-info {
      width: 39%;
      h6 {
        font-size: 35px;
        font-weight: bold;
      }
      p {
        padding-top: 20px;
        font-size: $size;
        font-weight: 300;
      }
      //info-icon
      .info-icon {
        margin-top: 70px;
        .icon {
          @include flex();
          margin-bottom: 50px;
          i {
            width: 40px;
            height: 40px;
            border: 1px solid $base-color;
            line-height: 40px;
            text-align: center;
            @include border-radius(50%);
          }
          .icon-text {
            margin-left: 20px;
            h4 {color: $five-color; font-size: $size; font-weight: 300;}
            h5 {font-size: 20px; font-weight: 300; padding-top: 5px;}
          }
        }
      }
      h3 {
        margin-top: 80px;
        font-size: 25px;
      }
      //info-social
      .info-social {
        margin-top: 72px;
        width: 100%;
        background-color: $primary-color;
        padding: 20px;
        @include border-radius(10px);
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -118px;
          width: 29%;
          height: 72px;
          background-color: $primary-color;
        }
        i {margin-right: 20px; cursor: pointer;}
      }
    }
    //contact-form
    .contact-form {
      width: 59%;
      h6 {
        font-size: 35px;
        font-weight: bold;
      }
      form {
        margin-top: 50px;
        input {
          width: 45%;
          margin-right: 30px;
          border: 1px solid #333;
          padding: 25px;
          background-color: transparent;
          @include border-radius(5px);
          color: $six-color;
          margin-bottom: 30px;
        }
        select {
          width: 45%;
          border: 1px solid #333;
          padding: 25px;
          background-color: transparent;
          color: $six-color;
        }
        textarea {
          width: 100%;
          border: 1px solid #333;
          padding: 25px;
          background-color: transparent;
          color: $six-color;
          resize: none;
        }
        button {
          margin-top: 30px;
          background-color: $primary-color;
          font-size: $size;
          color: $base-color;
          @include border-radius(10px);
          cursor: pointer;
          padding: 20px 35px;
        }
      }
    }
    //Notebook
    @media #{$notebook} {
      //contact-info
      .contact-info {
        width: 100%;
        h3 {margin-top: 50px;}
        .info-social {
          margin-top: 30px;
          text-align: center;
          &::before {display: none;}
          i {margin-right: 10px;}
        }
      }
      //contact-form
      .contact-form {
        margin-top: 50px;
        width: 100%;
        form {
          input {
            width: 100%;
            margin-right: 0;
          }
          select {width: 100%; margin-bottom: 30px;}  
        }
      }
    }
    //Tablet
    @media #{$tablet} {
      text-align: center;
      //contact-info
      .contact-info {
        h6 {font-size: 25px;}
        p {padding-top: 10px; font-size: 14px;}
        //info-icon
        .info-icon {
          margin-top: 50px;
          .icon {
            @include flex();
            @include flex-direction(column);
            text-align: center;
            margin-bottom: 30px;
            i {width: 30px; height: 30px; line-height: 30px; margin: 0 auto}
            .icon-text {
              margin: 10px 0 0 0;
              h4 {font-size: 14px;}
              h5 {font-size: $size;}
            }
          }
        }
        h3 {font-size: 20px;}
        .info-social {
          padding: 10px; 
          i {font-size: 18px;}
        }
      }
      //contact-form
      .contact-form {
        h6 {font-size: 25px;}
        form {
          input {padding: 15px;}
          select {padding: 15px}
          button {padding: 10px 20px;}
        }
      }
    }
    //Small
    @media #{$small} {
      //contact-info
      .contact-info {
        h6 {font-size: 18px;}
        p {padding-top: 10px; font-size: 12px;}
        //info-icon
        .info-icon {
          margin-top: 30px;
          .icon {
            .icon-text {
              h4 {font-size: 10px;}
              h5 {font-size: 12px;}
            }
          }
        }
        h3 {font-size: 14px;}
        .info-social {
          padding: 10px; 
          i {font-size: 14px; margin-right: 5px};
        }
      }
      //contact-form
      .contact-form {
        h6 {font-size: 18px;}
        form {
          margin-top: 30px;
          input {font-size: 12px;}
          select {font-size: 12px;}
          textarea {font-size: 12px;}
        }
      }
    }
  }
  .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: $size;
    font-weight: 300;
  }
  //Notebook
  @media #{$notebook} {
    padding-top: 50px;
    padding-bottom: 50px;
    .copyright {font-size: 14px;}
  }
}